body {
  font-family: "Montserrat", arial, helvetica, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 94%;
  padding: 1.75% 0 4.82% 3%;
  align-items: center;
}

.header__burger-menu {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 2px;
  background: #E51937;
  margin-bottom: 6px;
}

.header__logo {
  background: no-repeat url(img/logo.svg) 0 0;
  width: 166px;
	height: 51px;
  margin-right: 8.2%;
}

.header__burger-menu::before,
.header__burger-menu::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #E51937;
  content: "";
}

.header__burger-menu::after {
  top: 6px;
}
.header__burger-menu::before {
  top: -6px;
}

.header__menu {
  width: 41.5%;
}

.menu__item {
  margin-right: 4%;
  text-decoration: none;
  color: #000;
}

.menu__item:nth-child(4n) {
  margin: 0 7% 0 2%;
}

.menu__item_active {
  margin-right: 9.95%;
  padding-bottom: 2.5%;
  color: #E51937;
  background: no-repeat url(img/underline.svg) 0% 84%;
  background-size: 100%;
}

.header__side-menu {
 width: 16.6%;
}

.side-menu__item {
  margin-right: 12%;
  text-decoration: none;
  color: #000;
}

.section-1__title,  .section-1__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section-1__title {
  font: 600 90px/110px "Montserrat", arial, helvetica, sans-serif;
  margin-bottom: -0.7%;
}

.section-1__subtitle {
  font: 500 15px/18px "Montserrat", arial, helvetica, sans-serif;
  margin-bottom: 0;
}

.section-1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: url(img/tesla.svg) no-repeat;
	background-size: contain;
	margin-top: -12px;
}

.section-1__img {
	background: url(img/car.svg) no-repeat;
	width: 100%;
	height: 500px;
	background-position: 42% 24px;
}

.section-1__characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.8%;
  margin: auto;
  margin-bottom: 1%;
}

.characteristic-speed {
    width: 183px;
    margin-right: 6%;
    letter-spacing: 2px
}

.characteristic-speed__img {
    float: left;
    margin: 9px 7.5px 5px 0px;
}

.characteristic-speed__number,
.characteristic-range__number {
    font-weight: 600;
    font-size: 35px;
}

.characteristic-range__number {
    margin-top: 2px;
}

.characteristic-speed__text,
.characteristic-range__text {
    font-weight: 600;
    font-size: 20px;
    margin-left: 3px;
}

.characteristic-speed__description,
.characteristic-range__description {
  font-size: 12px;
  line-height: 15px;
}

.characteristic-range {
    width: 155px;
    margin-right: 12.5%;
}

.characteristic-range__img {
    float: left;
    margin: 10px 4px 0 0;
}

.section-1__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.6%;
}

.section-1__button-test {
  width: 54%;
  margin-bottom: 0.75%;
}

.button-test__img {
  background: url(img/steering-wheel.svg) no-repeat;
  background-position: 0 21px;
	width: 34px;
	height: 63px;
	cursor: pointer;
}

.section-1__button-order {
  padding: 8px 0;
  width: 215px;
  height: 40px;
  border: 2px solid #E51937;
  background: none;
  color: #E51937;
  font-family: "Montserrat", arial, helvetica, sans-serif;
}

.button-test__name {
  margin-left: 4.8%;
  font: normal bold 13px/16px "Montserrat", arial, helvetica, sans-serif;
}

.arrow {
  border: solid #E51937;
  border-width: 0 2px 2px 0;
  padding: 10px;
  width: 3px;
  height: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: auto;
}

@media (max-width: 1024px) {
  .header__menu,
  .side-menu__item {
    display: none;
  }

  .section-1__characteristics {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 17%;
  }

  .header {
    width: 94%;
    padding: 3.2% 0 12.2% 1.8%;
  }

  .header__burger-menu {
    width: 35px;
    height: 2.5px;
  }

  .header__burger-menu::before,
  .header__burger-menu::after {
    width: 35px;
    height: 2.5px;
  }

  .header__burger-menu::after {
    top: 8px;
  }
  .header__burger-menu::before {
    top: -8px;
  }

  .header__side-menu {
    width: 35px;
  }

  .section-1__title {
    margin-bottom: -1.2%;
  }

  .section-1__subtitle {
    margin-bottom: 11%;
  }

  .section-1 {
  	background: url(img/teslaIpad.svg) no-repeat;
  	background-position: 50% 18%;
		background-size: contain;
	}

  .section-1__img {
  	background: url(img/carIpad.svg) no-repeat;
  	background-position: 50% 5%;
    height: 365px;
  }

  .characteristic-speed {
    width: 221px;
    margin-right: 4%;
  }

  .characteristic-range {
    width: 199px;
    margin-bottom: 7.6%;
  }

  .characteristic-speed__number,
  .characteristic-range__number {
    font-size: 50px;
  }

  .characteristic-range__number {
    margin-top: 0;
  }

  .characteristic-range__img {
    margin: 13px 11px 0 6px;
    width: 28%;
  }

  .characteristic-speed__text,
  .characteristic-range__text {
      letter-spacing: normal;
  }

  .characteristic-speed__caption,
  .characteristic-range__caption {
    height: 56px;
  }
  .characteristic-speed__img {
      width: 35%;
      margin: 16px 15px 5px 3px;
  }

  .section-1__buttons {
    width: 75.93%;
    margin-left: 7.7%;
    margin-bottom: 7%;
  }

  .section-1__button-order {
    padding: 8px 0;
    width: 304px;
    height: 56px;
    background: #E51937;
    color: #fff;
    font-size: 16px;
  }

  .section-1__button-test {
    margin-top: 2%;
  }

  .button-test__name {
    font-size: 16px;
    line-height: 20px;
    color: #E51937;
  }

  .button-test__img {
    background: url(img/red-steering-wheel.svg) no-repeat;
    background-position: center;
    width: 40px;
    margin-right: 2.5%;
  }
}

@media (max-width: 470px) {

  .header {
    width: 96.7%;
    padding: 1.2% 0 11.65% 0.6%;
  }

  .header__logo {
    background: no-repeat url(img/logoMobile.svg) 0 0;
    width: 138px;
  	height: 42px;
  }

  .header__burger-menu {
    width: 24px;
    height: 1.5px;
  }

  .header__burger-menu::before,
  .header__burger-menu::after {
    width: 24px;
    height: 1.5px;
  }

  .header__burger-menu::after {
    top: 6px;
  }
  .header__burger-menu::before {
    top: -6px;
  }

  .section-1__title {
    font: 600 50px/61px "Montserrat", arial, helvetica, sans-serif;
    margin-bottom: -0.7%;
  }

  .section-1__subtitle {
    font: 500 10px/12px "Montserrat", arial, helvetica, sans-serif;
    margin-bottom: 7.2%;
  }

  .section-1 {
    background: url(img/teslaMobile.svg) no-repeat;
    background-position: 50% 24.2%;
    background-size: contain;
  }

  .section-1__img {
    background: url(img/carMobile.svg) no-repeat;
    background-position: 50% 51%;
    height: 215px;
  }

  .characteristic-speed {
    width: 47.4%;
    margin-right: 0%;
  }

  .characteristic-range {
  width: 50%;
  margin-bottom: 7.6%;
  margin-right: 0;
  }

  .characteristic-speed__number,
  .characteristic-range__number {
  font-size: 27px;
  letter-spacing: 1px;
  }

  .characteristic-range__number {
  margin-top: 0;
  }

  .characteristic-range__img {
  margin: 3px 10px 0 0;
  width: 18%;
  }

  .characteristic-speed__caption,
  .characteristic-range__caption {
  height: 33px;
  }

  .characteristic-speed__img {
    width: 26.8%;
    margin: 7px 11px 5px 3px;
  }

  .section-1__characteristics {
    width: 96%;
    margin-left: 9.3%;
    justify-content: flex-start;
  }

  .characteristic-speed__text,
  .characteristic-range__text {
      font-weight: normal;
      font-size: 15px;
  }

  .characteristic-speed__description,
  .characteristic-range__description {
    letter-spacing: normal;
    font-size: 10px;
    line-height: 12px;
  }

  .section-1__buttons {
    width: 96%;
    margin: 0;
    margin-bottom: 1%;
    justify-content: flex-start;
  }

  .section-1__button-order {
    padding-bottom: 15px;
    width: 159.5px;
    height: 39.5px;
    font-size: 13px;
  }

  .section-1__button-test {
    width: 34.7%;
    margin-bottom: 2.874%;
  }

  .button-test__name {
    font-size: 13px;
    line-height: 16px;
    color: #E51937;
  }

  .button-test__img {
    background: url(img/red-steering-wheelMobile.svg) no-repeat;
    background-position: center;
    width: 25px;
    margin-right: 0;
  }
}

  @media only screen and (min-width: 1025px) and (max-width: 1330px) {
.characteristic-range {
    margin-right: 3%;
  }

    .characteristic-speed {
    margin-right: 1%;
  }

  .section-1__characteristics {
    width: 70%;
  }

  .header {
    padding-left: 1%;
    width: 98%;
  }

  .header__side-menu {
    width: 20%;
  }

  .header__menu {
    width: 41.5%;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item {
    margin-right: 3%;
  }

  .side-menu__item {
    margin-right: 5%;
  }

  .header__logo {
    margin-right: 0;
  }
}

@media only screen and (min-width: 471px) and (max-width: 700px) {
.section-1__characteristics {
    width: 90%;
    margin-left: 9%;
}

.section-1 {
    background: url(img/teslaMobile.svg) no-repeat;
    background-position: 50% 24.2%;
    background-size: contain;
  }

  .section-1__img {
    background: url(img/carMiddle.png) no-repeat;
    background-position: 50% 51%;
    height: 300px;
  }

  .characteristic-speed__number,
  .characteristic-range__number {
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 5%;
  }

  .characteristic-speed__caption,
  .characteristic-range__caption {
  height: 38px;
  }

  .characteristic-range {
  margin-bottom: 4.6%;
  }

  .characteristic-speed {
  margin-right: 0;
  }

  .section-1__button-order {
    font-size: 15px;
    width: 150px;
    height: 37.5px;
    margin-right: 2%;
  }

  .section-1__button-test {
    width: 37%;
  }

  .button-test__name {
    font-size: 15px;
    margin-left: 0;
  }

  .section-1__characteristics {
    justify-content: center;
    margin: 0;
    margin-bottom: 6%;
  }

  .section-1__buttons {
    margin: 0;
  }

  .characteristic-range {
    margin-right: 0;
  }

  .characteristic-speed__img {
    width: 26.8%;
  }

  .characteristic-range__img {
    width: 26.8%;
  }
}
